
 @import "tailwindcss";

@theme {
  --color-primary: #6C63FF;   /* Violet */
  --color-accent:  #4FD1FF;   /* Light Blue Glow */
  --color-secondary: #0F0F1A; /* Black-Violet Background */
  --color-neutral: #1A1A2E;   /* Neutral Dark */
  --color-text: #E4E7EB;      /* Main Text */
  --color-muted: #9CA3AF;     /* Muted Text */
}
html{
  @apply  scroll-smooth;
}
::-webkit-scrollbar{
  display: none;
}

